@page
@model Project_PRN221.Pages.Views.ManageNews.AddNewsModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <jsp:useBean id="d" scope="page" class="dao.DAO" />
    <div class="container">
        <h2>Add News</h2>
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2">Title:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter title" asp-for="AddPostRequest.Title">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Date Post:</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" placeholder="Enter date post" asp-for="AddPostRequest.DatePost">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Description:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" placeholder="Enter description" style="width: 100%; height: 100px" 
                    asp-for="AddPostRequest.Description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Concept:</label>
                <div class="col-sm-10">
                    <textarea class="form-control" placeholder="Enter concept" style="width: 100%; height: 200px" 
                    asp-for="AddPostRequest.Concept"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Image:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Enter image name" name="image">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Authur:</label>
                <div class="col-sm-10">
                    <select name="idAuthur">
                        
                            <option value="IdAuthur">AuthurName</option>
                        
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Category:</label>
                <div class="col-sm-10">
                    <select name="idConcept">
                        
                            <option value="Id">Name</option>
                        
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>

</body>
</html>
